[user]
	email = k.hokamura@gmail.com
	name = hokaccha
[color]
	ui = auto
	status = auto
	diff = auto
	branche = auto
[alias]
	co = checkout
	ci = commit -v
	st = status
	br = branch
	l  = log --date=iso -10
	amend = commit --amend -C HEAD
	graph = log --graph --pretty=oneline
	a = add -A .
	pr = pull --rebase
[push]
	default = matching
[core]
	excludesfile = ~/.gitexclude
	pager = cat
	editor = /usr/bin/vim
	autocrlf = false
	pager = less
