[user]
	email = k.hokamura@gmail.com
	name = Kazuhito Hokamura
[color]
	ui = auto
	status = auto
	diff = auto
	branche = auto
[alias]
	co = checkout
	ci = commit -v
	st = status -sb
	br = branch
	l  = log --date=iso -10
	amend = commit --amend -C HEAD
	graph = log --graph --pretty=oneline
	a = add -A .
	pr = pull --rebase
	rm-branch = !sh -c 'git branch -d $1 && git branch -rd origin/$1 && git push --delete origin $1' -
	i = !git init && git commit --allow-empty -m 'initial commit'
[push]
	default = simple
[diff]
	algorithm = patience
	tool = macvim-diff
[difftool "macvim-diff"]
	cmd = "/Applications/MacVim.app/Contents/MacOS/Vim -g -dO -f $LOCAL $REMOTE"
[core]
	excludesfile = /Users/hokamura/.gitexclude
	pager = LESS=-R less
	editor = /usr/bin/vim
	autocrlf = false
	quotepath = false
[github]
	user = hokaccha
[heroku]
	account = personal
[merge]
	ff = false
[pull]
	rebase = true
