[user]
	email = k.hokamura@gmail.com
	name = hokaccha
[color]
	ui = auto
	status = auto
	diff = auto
	branche = auto
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	l  = log --date=iso -10
	amend = commit --amend -a -C HEAD --date=now
[push]
	default = matching
[core]
	excludesfile = ~/.gitexclude
	pager = less -r
