# main()
snippet cl
	${1}:after {
		content: '';
		display: block;
		clear: both;
		height:0;
	}
snippet box-shadow
	-webkit-box-shadow: ${1:Things};
	-moz-box-shadow: $1;
	-ms-box-shadow: $1;
	-o-box-shadow: $1;
	box-shadow: $1;
