snippet m
	package main

	import (
		"log"
	)

	func init() {
		log.SetFlags(log.Lshortfile)
	}

	func main() {
		${1}
	}
snippet p
	log.Println(${1})
snippet pp
	log.Printf("%#v", ${1})
snippet f
	if err != nil {
		log.Fatal(err)
	}
snippet e
	if err != nil {
		${1}
	}
