snippet m
	package main

	import (
		"log"
	)

	func init() {
		log.SetFlags(log.Lshortfile)
	}

	func main() {
		${1}
	}
snippet p
	log.Println(${1})
snippet f
	log.Printf("", ${1})
snippet v
	log.Printf("%#v", ${1})
