snippet f
	function() {${1}}${2}
snippet for
	for (var i = 0, len = ${1:Things}.length; i < len; i++) {
		${2:}$1[i];
	}
snippet cl
	console.log(${1});
snippet $
	$('${1}')${2}
snippet class
	var ${1:} = function(${2:}) {
		return (this instanceof $1) ? this.init($2) : new $1($2);
	};

	$1.prototype = {
		init: function($2) {
		}
	};
snippet r
	require('${1}');
