snippet sti
	Shiraberu::Test->init_${1:row}(${2});
snippet stp
	Shiraberu::Test::p ${1};
snippet suuh
	Shiraberu::Utils::uniq_hex
snippet sudf
	Shiraberu::Utils::default_face_for(${1})
snippet surdf
	Shiraberu::Utils::readable_duration_from(${1})
snippet surdt
	Shiraberu::Utils::readable_duration_til(${1})
snippet suaqu
	Shiraberu::Utils::as_qrcode_uri(${1})
snippet suckfi
	Shiraberu::Utils::cache_key_for_invite(${1})
snippet supp
	Shiraberu::Utils::pretty_percent(${1})
