"*":
  editor:
    invisibles: {}
    lineHeight: 1.4
    showIndentGuide: true
    showInvisibles: true
    scrollPastEnd: true
    softWrap: true
    fontSize: 14
  core:
    disabledPackages: [
      "autocomplete"
    ]
    themes: [
      "seti-ui"
      "seti-syntax"
    ]
    audioBeep: false
    followSymlinks: true
    projectHome: "/Users/hokamura/local/src/github.com/hokaccha"
  "exception-reporting":
    userId: "390393ef-fa61-4460-e622-416b9d4ae3cb"
  welcome:
    showOnStartup: false
  preview:
    _analyticsUserId: "c6efd522-e838-494e-aa5e-b37094797c74"
  script:
    enableExecTime: false
  "autocomplete-plus":
    navigateCompletions: "ctrl-p,ctrl-n"
    includeCompletionsFromAllBuffers: true
    suggestionListFollows: "Word"
    builtinProviderBlacklist: "N/A"
  "bracket-matcher":
    autocompleteBrackets: false
    autocompleteSmartQuotes: false
  "japanese-wrap":
    characterWidth: {}
    lineBreakingRule: {}
  "markdown-preview":
    breakOnSingleNewline: true
    liveUpdate: false
  linter:
    lintOnChange: false
    lintOnEditorFocus: false
  "linter-jshint": {}
  "linter-jsonlint": {}
  react: {}
  "linter-jsxhint": {}
  "find-and-replace":
    focusEditorAfterSearch: false
  minimap: {}
  "tree-view": {}
  "vim-mode":
    useSmartcaseForSearch: true
  "copy-as-rtf": {}
  "fuzzy-finder":
    ignoredNames: [
      "cmd-r"
    ]
  term2:
    colors: {}
    cursorBlink: false
  autocomplete:
    includeCompletionsFromAllBuffers: true
  "go-plus": {}
  toolbar:
    position: "Right"
