'atom-workspace':
  'cmd-r': 'window:reload'
  'cmd-t': 'application:new-file'
  'cmd-;': 'command-palette:toggle'
  'cmd-h': 'tree-view:toggle-focus'
  'cmd-shift-h': 'tree-view:reveal-active-file'
  'cmd-ctrl-h': 'tree-view:toggle'
  'cmd-n': 'tree-view:add-file'
  'ctrl-i': 'cursor-history:next'
  'ctrl-o': 'cursor-history:prev'
  'cmd-b': 'goto-definition:go'

'.platform-darwin atom-text-editor':
  'cmd-r': 'unset!'

'.tree-view':
  'cmd-h': 'tree-view:toggle-focus'

'atom-text-editor.vim-mode-plus:not(.insert-mode)':
  'j': 'vim-mode-plus:move-down-screen'
  'k': 'vim-mode-plus:move-up-screen'
  'space w': 'core:save'
  'space q': 'core:close'
  'space r': 'script:run'
  'space f': 'grammar-selector:show'
  'space k f': 'fuzzy-finder:toggle-file-finder'
  'space k b': 'fuzzy-finder:toggle-buffer-finder'
  'space k m': 'recent-files-fuzzy-finder:toggle-finder'

'atom-text-editor.vim-mode-plus.visual-mode':
  '*': 'find-and-replace:use-selection-as-find-pattern'
  'cmd-c': 'custom:copy-and-exit-visual-mode'
  'shift-D': 'japanese-dictionary:open-by-selection'

'atom-text-editor.vim-mode-plus.insert-mode':
  'ctrl-y': 'autocomplete-plus:confirm'
  'ctrl-u': 'editor:delete-to-beginning-of-line'

'atom-text-editor:not(mini).autocomplete-active':
  'tab': 'snippets:expand'
  'ctrl-y': 'autocomplete-plus:confirm'
