'.text.html':
  'html':
    'prefix': 'h'
    'body': '''
      <!DOCTYPE html>
      <html lang="ja">
      <head>
      <meta charset="utf-8">
      <title>Sample</title>
      </head>
      <body>
      $1
      </body>
      </html>
      '''
  'jquery':
    'prefix': 'jquery'
    'body': '<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.js"></script>'
  'script':
    'prefix': 'sc'
    'body': '<script>\n$1\n</script>'
  'script src':
    'prefix': 'ss'
    'body': '<script src="$1"></script>'

'.source.js':
  'console.log':
    'prefix': 'cl'
    'body': 'console.log($1);'
  'function':
    'prefix': 'f'
    'body': 'function() {$1}'
  'require':
    'prefix': 'r'
    'body': 'require(\'$1\');'
  'import':
    'prefix': 'i'
    'body': 'import $1 from \'$2\';'
  'describe':
    'prefix': 'desc'
    'body': 'describe(\'$1\', () => {\n});'
  'it':
    'prefix': 'it'
    'body': 'it(\'$1\', () => {\n});'
  'preventDefault':
    'prefix': 'prev'
    'body': 'preventDefault();'
  'stopPropagation':
    'prefix': 'stop'
    'body': 'stopPropagation();'
  'constructor':
    'prefix': 'co'
    'body': 'constructor() {\n  $1\n}'
  'react component':
    'prefix': 'rc'
    'body': 'class $1 extends React.Component {\n}'
  'export default':
    'prefix': 'e'
    'body': 'export default '

'.source.coffee':
  'console.log':
    'prefix': 'cl'
    'body': 'console.log $1'
  'require':
    'prefix': 'r'
    'body': 'require \'$1\''

'.source.go':
  'main':
    'prefix': 'm'
    'body': '''
      package main

      import (
      	"log"
      )

      func init() {
      	log.SetFlags(log.Lshortfile)
      }

      func main() {
      	${1}
      }
    '''
  'print':
    'prefix': 'p'
    'body': 'log.Println(${1})'
  'printv':
    'prefix': 'pp'
    'body': 'log.Printf("%#v", ${1})'
  'fatal':
    'prefix': 'f'
    'body': '''
      if err != nil {
      	log.Fatal(err)
      }
    '''
  'error':
    'prefix': 'e'
    'body': '''
      if err != nil {
      	${1}
      }
    '''
