'.text.html':
  'html':
    'prefix': 'h'
    'body': '''
      <!DOCTYPE html>
      <html lang="ja">
      <head>
      <meta charset="utf-8">
      <title>Sample</title>
      </head>
      <body>
      $1
      </body>
      </html>
      '''
  'jquery':
    'prefix': 'jquery'
    'body': '<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.js"></script>'
  'script':
    'prefix': 'sc'
    'body': '<script>\n$1\n</script>'
  'script src':
    'prefix': 'ss'
    'body': '<script src="$1"></script>'

'.source.js':
  'console.log':
    'prefix': 'cl'
    'body': 'console.log($1);'
  'function':
    'prefix': 'f'
    'body': 'function() {$1}'
  'require':
    'prefix': 'r'
    'body': 'require(\'$1\')'
