atom-text-editor::shadow {
  .gutter {
    padding: 5px 0;
  }
  .line-number {
    color: #8A9298;
  }
  .selection .region {
    border: none;
  }
  .source.gfm .markup.heading {
    color: #B04D4D;
  }
}

atom-text-editor:not(.mini)::shadow {
  .scroll-view {
    padding: 5px;
  }
}

#toolbar {
  background-color: #262728;

  > .icon {
    cursor: pointer;
  }
}
