atom-text-editor::shadow {
  .gutter {
    padding: 5px 0;
  }
  .line-number {
    color: #8A9298;
  }
  .selection .region {
    border: none;
  }
}

// .pane-row .pane:not(.active) {
//   max-width: 550px;
// }

atom-text-editor:not(.mini)::shadow {
  .scroll-view {
    padding: 5px;
  }
}
